@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.container {
    display: flex;
}

.item {
    flex: 1 1 auto;
}
/* headings and logo */

.top-bar {
    background-color: #F4F6F6;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-end;
    flex-basis: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;
}



h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #1F3347;
}


#logo {
    float: left;
    margin: 30px;
}

/* navigation links */

nav {
    margin-right: 2vw;
}

#menu li {
    list-style-type: none;
    padding: 20px;
    font-size: xx-large;
    margin-bottom: 20px;
}

#menu li a {
    text-decoration: none;
    color: #1F3347;
}

#menu a:hover {
    border-bottom: 2px solid #1F3347;
}

.active {
    border-bottom: 2px solid #1F3347;
}

/* hero image */

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/penshawTimW19771.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#home-hero-text {
    text-transform: none;
    text-align: left;
    color: white;
    position: relative;
    bottom: 50px;
    font-size: xx-large;
    margin: 0 2rem;
}

/* footer style */

footer {
    width: 100vw;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F4F6F6;
    bottom: 0;
}

.social-networks {
    width: 33%;
    height: 100%;
    margin: auto;
    float: left;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #1F3347;
}

.footer-contact-info {
    width: 66%;
    height: 100%;
    display: inline-block;
}

.footer-contact-info>li {
    margin: 1%;
    font-size: 100%;
    color: #1F3347;
}


/* home page section styles */

#visit-us {
    color: #1F3347;
    width: 100%;
    display: flex;
    align-items: center;
   
}

#visit-us-text p{
    font-size: x-large;
    padding-top: 1em;
    text-align: justify;
}

#visit-us-text {
    margin: 0 2em;
    flex: 1 0 70%;
    flex-wrap: nowrap;
    
}

.button-style {
    background-color: #672354;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: 3em;
    flex-basis: 80%;
    margin: 0 2em;
    padding: 1em;
    flex: 1 0 auto;
    
}

.button-style a {
    color: inherit;
    text-decoration: inherit;
}



/* plan your visit page styles */

form {
    margin-top: 200px;
}