@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* reset default styles and set standards across all pages */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-size: 62.5%; /* allows all rem units to be pixels over 10 */
    /* outline: 2px solid red; */
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.container {
    display: flex;
}

.item {
    flex: 1 1 auto;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
    font-size: 5rem;
    margin: 0 2rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1em;
    font-family: Roboto, sans-serif;
    margin-top: 3em;
    color: #3a5061;
}

.alt-h2 {
    margin: 0;
    font-size: 3rem;
}


h3 {
    text-align: center;
    font-size: 1.8rem;
    padding: 1em;
    font-family: Roboto, sans-serif;
    color: #3a5061;
}

.main-text {
    font-size: 1.6rem;
    color:#3a5061;
    margin: auto;
    max-width: 90%; 
}

.bold {
    font-weight: 600;
    text-transform: uppercase;
}

td, th {
    padding: 1em 1em 0 0;
}

.justify-text {
    text-align: justify;
}

@media only screen and (min-width: 1024px) {
    
    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 4.5rem;
        padding: 1em;
        margin-top: 1.5em;
    }

    .alt-h2 {
        font-size: 6rem;
        padding: 1em;
        margin: auto;
        max-width: 60%;
    }

    h3 {
        font-size: 4rem;
        padding: 1em;
    }

    .main-text {
        font-size: 3rem;
        margin: auto;
        max-width: 60%;
        margin-bottom: 1em; 
    }

    i {
        font-size: 3rem;
        margin: auto;
    }

}
/* plan your visit page */

#hero-image-plan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image-plan-visit.jpg");

}

a:hover {
    border-bottom: 1px dotted #3a5061;
}

#page-nav li {
    display: inline-block;
    position: relative;
    top: -78rem;
    z-index: 1;
}

#page-nav a{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    margin: 0.5em; 
}

#page-nav a:hover{
    border-bottom: 1px dotted white;
}

#page-nav {
    height: 0px;
}

@media only screen and (min-width: 1024px) {
    #page-nav a{
        font-size: 3rem;
        margin: 0.5em; 
    }
}

/* headings and logo */

.top-bar {
    background-color: #F4F6F6;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    flex-basis: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    
}

#logo {
    float: left;
    margin: 2vw;
    max-width: max-content;
}

@media only screen and (min-width: 1024px) {

    .top-bar {
        align-items: baseline;

    }
    #logo {
        margin-left: 0.25em;
    }
    nav {
        margin-left:auto;
        align-items: flex-end;
    }
}

/* navigation links */

nav {
    margin-right: 2vw;
}

#menu li, #menu a {
    list-style-type: none;
    font-size: 2rem;
    text-decoration: none;
    color: #3a5061;
    margin-top: 0.25em;
}

#menu a:hover {
    border-bottom: 2px dotted #1F3347;
}

.active {
    border-bottom: 2px solid #1F3347;
}

@media only screen and (min-width: 1024px) {

    .nav-links {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        
    }
    
    #menu li, #menu a {
        list-style-type: none;
        font-size: 3rem;
        text-decoration: none;
        color: #3a5061;
        margin: 0 0.5em 0.3em 0.5em;
    }

}

/* hero image */

#hero-image-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image-home.jpg");
}

.hero-image {
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#home-hero-text {
    position: relative;
    top: 85%;
}

.call-to-action {
    position: relative;
    top: 55%;
}

/* footer style */

footer {
    width: 100vw;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F4F6F6;
    bottom: 0;
    margin-top: 5em;
    align-items: center;
}

.footer-contents {
    font-size: 2rem;
    color: #1f3347;
    font-family: Robot, sans-serif;
    margin-top: 1em;
}

.footer-contents i {
    font-size: 2.5em;
    color: #1f3347;
    padding: 0 0.5em 0.1em 0.5em;
}

.footer-contents li {
    padding: 0 0.5em;
    flex-basis: 100%;
}

.vertical-list {
    display: block;
}

.vertical-list li {
    padding-bottom: 0.75em;
}

@media only screen and (min-width: 1024px) {

    .socials {
        display: inline-block;
        font-size: 1.5em;
        padding: 0.25em;
    }

    .vertical-list {
        font-size: 3rem;
    }
}



/* home page section styles */

#visit-us {
    color: #1F3347;
    width: 100%;
    display: flex;
    align-items: center;
   
}

#visit-us-text p{
    font-size: x-large;
    padding-top: 1em;
    text-align: justify;
}

#visit-us-text {
    margin: 0 2em;
    flex: 1 0 70%;
    flex-wrap: nowrap;
    
}

.button-style {
    background-color: rgba(103, 35, 84, 0.8);
    padding: 20em;
    border-radius: 50%;
}

.button-style a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    .button-style a {
        font-size: 3rem;
    }
}

/* Contact Us Page Styles */

#formcontainer {
    display: flex;
    justify-content: center;
}

form {
    background: linear-gradient(20deg, #852e6c, #d17ab9);
    width: 85%;  
}

#details {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

#message {
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
}

.formitem {
    padding: 2em;
    width: 40%;
}

textarea {
    width: 75%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    resize: none;
    font-family: Lato, sans-serif;
    font-size: 2em;
  }

  select {
    width: 15em;
    padding: 0.5em;
    border-radius: 4px;
    background-color: white;  
  }


  label {
      font-size: 2em;
      color:white; 
      padding: 1rem;
  }

  ::placeholder, select {
    font-size: 1.5rem;
} 

  .submit-button {
    background-color: #1F3347;
    border: none;
    color: white;
    padding: 1em;
    font-size: 2em;
    float: right;
  }

input[type="text"], input[type="email"], input[type="tel"]  {
    font-size: 2em;
    border-radius: 4px;
    padding: 1rem;
    width: 20rem;
    float: right;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus, select:focus {
    background-color: #f4f6f6;
}


#alternative_contact > p {
    text-align: center;
    font-size: 1.5rem;
}


