@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap");

/* reset default styles and set standards across all pages */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-size: 62.5%; /* allows all rem units to be factors of 10 rather than 16 https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

/* Generic Styles */


h1, h2, h3 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

h2, h3 {
    color: #3a5061;
    padding: 1em;
}

h1 {
    color: white;
    font-size: 5rem;
    margin: 0 2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 3em;
}

.alt-h2 {
    margin: 0;
    font-size: 3rem;
}

h3 {
    font-size: 1.8rem;
}

.main-text {
    font-size: 1.6rem;
    color:#3a5061;
    margin: auto;
    max-width: 90%; 
}

td, th {
    padding: 1em 1em 0 0;
}

iframe {
    width: 100%; 
    height: 450px;
    border: 0;
}

/* Utilities */

.justify-text {
    text-align: justify;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: 600;
    text-transform: uppercase;
}

.hover-grey:hover {
    border-bottom: 1px dotted #3a5061;
}

.hover-white:hover {
    border-bottom: 1px dotted white;
}

/* Hero Image and Text */

.hero-image-plan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image-plan-visit.jpg");
}

.hero-image-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image-home.jpg");
}

.hero-image-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(103, 35, 84, 0.35)), url("../images/hero-image-contact.jpg");
}

.hero-image {
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-hero-text {
    position: relative;
    top: 85%;
}

/* plan your visit page */

#page-nav li {
    display: inline-block;
    position: relative;
    top: -78rem;
    z-index: 1;
}

#page-nav a{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    margin: 0.5em; 
}

#page-nav {
    height: 0px;
}

/* headings and logo */

.top-bar {
    background-color: #F4F6F6;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    flex-basis: 100%;
}
.logo {
    float: left;
    margin: 2vw;
    max-width: max-content;
}

/* navigation links */
nav {
    margin-right: 2vw;
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;   
}

.nav-style {
    list-style-type: none;
    font-size: 2rem;
    text-decoration: none;
    color: #3a5061;
    margin-top: 0.25em;
}

.active {
    border-bottom: 2px solid #3a5061;
}


/* footer style */

footer {
    width: 100vw;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F4F6F6;
    bottom: 0;
    margin-top: 5em;
    align-items: center;
    color:#3a5061;
}

.footer-contents {
    font-size: 2rem;
    font-family: Robot, sans-serif;
    margin-top: 1em;
}

.footer-contents i {
    font-size: 2.5em;
    color: #3a5061;
    padding: 0 0.5em 0.1em 0.5em;
}

.footer-contents li {
    padding: 0 0.5em;
    flex-basis: 100%;
}

.vertical-list {
    display: block;
}

.vertical-list li {
    padding-bottom: 0.75em;
}

/* home page specific */

.call-to-action {
    position: relative;
    top: 60%;
}

.button-style {
    background-color: rgba(103, 35, 84, 0.8);
    padding: 1em;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

/* Contact Us Page Styles */

form {
    background: linear-gradient(20deg, #682860, #d17ab9);
    width: 100%;
    text-align:center; 
    display: block;
    padding-top: 10em;
    box-sizing: border-box;
}

label {
      font-size: 2rem;
      color:white; 
}

::placeholder {
    font-size: 1.8rem;
} 

.submit-button {
    background-color: #3a5061;
    border: none;
    color: white;
    padding: 1em;
    font-size: 2rem;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select  {
    font-size: 1.8rem;
    border-radius: 4px;
    padding: 0.5em;
    width: 85%;
    margin: 0.5em;
    font-family: Lato, sans-serif;
    color: #3a5061;
}

textarea {
    height: 200px;
}

input:focus, textarea:focus, select:focus {
    background-color: #f4f6f6;
}

.icons {
    font-size: 2.5rem;
}

/* Media query for sizes between 570 px and 768 px - essentially landscape phone */

@media only screen and (min-width: 570px) and (max-width: 768px) {
     
       .padding {
        padding: 10em;
    }

        .extra-space {
         padding: 0 2em;   
        }
}

/* Media Query for screen minimum size 1024px */

@media only screen and (min-width: 1024px) {
    
    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 4.5rem;
        margin-top: 1.5em;
    }

    .alt-h2 {
        font-size: 6rem;
        margin: auto;
        max-width: 60%;
    }

    h3 {
        font-size: 4rem;
    }

    .main-text {
        font-size: 3rem;
        margin: auto;
        max-width: 60%;
        margin-bottom: 1em; 
    }

    i {
        font-size: 3rem;
        margin: auto;
    }

    iframe {
        width: 65%;
    }

    .icons {
        font-size: 6rem;
    }

    form {
        width: 85%;
        padding: 10em;
        margin: auto;
        columns: 2;
        text-align: left;
    }

    .submit-button {
        width: 85%;
        margin-left: 1.25em;
    }
    
    label {
        display: block;
        font-size: 3rem;
    }

    input, select, textarea, ::placeholder {
        font-size: 2.5rem;
    }

    .padding {
        padding: 35em;
    }

    .button-style {
        font-size: 3rem;
    }

    .socials {
        display: inline-block;
        font-size: 1.5em;
        padding: 0.25em;
    }

    .vertical-list {
        font-size: 3rem;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        
    }
    
    .nav-style {
        font-size: 4rem;
        margin: 0 0.5em 0.3em 0.5em;
    }

    #page-nav a{
        font-size: 3rem;
    }

    .top-bar {
        align-items: baseline;

    }
    .logo {
        margin-left: 2.5vw;
    }
}

/* Media Query for screen minimum size 768px */

@media only screen and (min-width: 768px) {
   
    h1 {
        font-size: 7.5rem;
    }

    h2 {
        font-size: 3.5rem;
        margin-top: 1.5em;
    }

    .alt-h2 {
        font-size: 4rem;
        margin: auto;
        max-width: 60%;
    }

    h3 {
        font-size: 3rem;
    }
   
    .main-text {
        font-size: 2.5rem;
        max-width: 85%;
    }

    iframe {
        width: 85%;
    }

    label {
        display: block;
        font-size: 2.5rem;
    }

    input, select, textarea, ::placeholder {
        font-size: 2.0rem;
    }

    .padding {
        padding: 35em;
    }  

    #page-nav a{
        font-size: 2.5rem;
    }

    nav {
        margin-left: auto;
        align-items: flex-end;
    }
    
    .nav-links {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        
    }
    
    .nav-style {
        font-size: 2.7rem;
        margin: 0 0.5em 1em 0.5em;
    }

    .top-bar {
        align-items: flex-end;
    }
}